<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">

  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/menu">Menu</a>
    <a href="/propos">A Propos de E kaly</a>
    <a href="" >Deconnecter</a>
  </div>
</div>
<section class="info">
  <img src="../assets/images/logo.jpg">
</section>

<div class="flexbox">
  <div class="search">
    <h1>Recherche de restaurant E Kaly </h1>
    <h3>Cliquez sur l'icône de recherche, puis tapez votre mot-clé.</h3>
    <div>
      <input type="text" placeholder="Search . . ." required>
    </div>
  </div>
</div>


  <section class="cards-wrapper">
    <div class="card-grid-space">
      <div class="num">01</div>
      <a class="card" href="/plat" style="--bg-img: url(../assets/images/logo1.jpg)">
        <div>
          <h1></h1>
          <p></p>
          <div class="date"></div>
          <div class="tags">
            <div class="tag">Analakely</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num">02</div>
      <a class="card" href="/plat" style="--bg-img: url(../assets/images/logo2.jpg)">
        <div>
          <h1></h1>
          <p></p>
          <div class="date"></div>
          <div class="tags">
            <div class="tag">Ivato</div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num">01</div>
      <a class="card" href="/plat" style="--bg-img: url(../assets/images/logo3.jpg)">
        <div>
          <h1></h1>
          <p></p>
          <div class="date"></div>
          <div class="tags">
            <div class="tag">Ankorondrano</div>

          </div>
        </div>
      </a>
    </div>

    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
  </section>


  <div class="footer">
    <div class="inner-footer">

  <!--  for company name and description -->
      <div class="footer-items">
        <h1>E kaly</h1>
        <p>E-Kaly est une société de livraison qui permet de commander des plats dans divers restaurants et de
          se faire livrer à l’endroit qu’on veut</p>
      </div>

  <!--  for quick links  -->
      <div class="footer-items">
        <h3>Liens rapides</h3>
        <div class="border1"></div> <!--for the underline -->
          <ul>
            <a href="#"><li>Menu</li></a>
            <a href="#"><li>recherche</li></a>
            <a href="#"><li>A propos</li></a>
          </ul>
      </div>

  <!--  for some other links -->


  <!--  for contact us info -->
      <div class="footer-items">
        <h3>Contactez-nous</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>034596030</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>Ramavoharinaivofalynyainagmail.com</li>
          </ul>

  <!--   for social links -->

      </div>
    </div>

  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Ramavo Harinaivo Faly Ny Aina  &copy;  2022.
    </div>
  </div>

