<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">

  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/menu">Menu</a>
    <a href="/propos">A Propos de E kaly</a>
    <a href="" target="_blank">Deconnecter</a>
  </div>
</div>

<section class="info">
  <img src="../assets/images/logo.jpg">
</section>

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#"> site e-kaly.com</a></h3>
    <div class="intro"> <a href="#">à propos</a> </div>
  </div>
  <div class="card-info">
    E-Kaly est une société de livraison qui permet de commander des plats dans divers restaurants et de
    se faire livrer à l’endroit qu’on veut.
    <br>
    <br>
    Contactez-nous pour plus d'informations:
    +261 34 420 26
    ekaly@gmail.com
  </div>
  <div class="utility-info">

  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->



